<section class="officers">
  <table>
    <thead class="section-header section-header-blue">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Phone #</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% officers.each do |officer| %>
        <tr class="section-body officer">
          <td><%= officer.name %></td>
          <td><%= officer.username %></td>
          <td><%= officer.phone %></td>
          <td><%= t("officers.roles.#{officer.role}") %></td>
          <td><%= link_to "Edit", edit_officer_path(officer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
