<section class="officers">
  <table>
    <thead class="section-header section-header-blue">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Phone #</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% officers.each do |officer| %>
        <tr class="section-body officer">
          <td><%= officer.name %></td>
          <td><%= officer.username %></td>
          <td><%= officer.phone %></td>
          <td><%= t("officers.roles.#{officer.role}") %></td>
          <td>
            <%= link_to edit_officer_path(officer) do %>
              <%= inline_svg "edit.svg" %>
              Edit
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if officers.try(:total_count) && officers.total_count > officers.size %>
    <div class="section-body">
      <%= paginate officers %>
    </div>
  <% end %>
</section>
