<h1 class="officers-title"><%= t("officers.index.privileged.title") %></h1>
<%= render "officers_list", officers: @privileged_officers %>

<h1 class="officers-title"><%= t("officers.index.patrol.title") %></h1>
<p><%= t("officers.index.patrol.subtitle") %></p>

<%= simple_form_for(
  @officer_search,
  url: officers_path,
  method: :get,
) do |f| %>
  <%= f.input :name %>
<% end %>

<%= render "officers_list", officers: @officer_search.results %>
