<div class="page-title-actions">
  <% if person.draft %>
    <p>
    <%= t("people.show.draft.exists", name: person.last_name) %>
    <br/>
    <%= link_to t("people.show.draft.show"), draft_path(person.draft) %>
    </p>
  <% end %>

  <% if person.submission %>
    <p>
    <%= t("people.show.submission.exists", name: person.last_name) %>
    <br/>
    <%= link_to t("people.show.submission.show"), submission_path(person.submission) %>
    </p>
  <% end %>

  <% if person.visible? %>
    <p>
    <%= t("people.show.visibility.exists", name: person.last_name) %>
    <br/>
    <%= link_to(
      t("people.show.visibility.show"),
      edit_person_visibility_path(person_id: person),
    ) %>
    </p>
  <% else %>
    <p>
    <%= t("people.show.visibility.does_not_exist", name: person.last_name) %>
    <br/>
    <%= link_to(
      t("people.show.visibility.new"),
      new_person_visibility_path(person_id: person.id),
    ) %>
    </p>
  <% end %>

  <% if person.due_for_review? %>
    <%= t("people.show.review.required", name: person.last_name) %>
    <br/>
    <%= link_to(
      t("people.show.review.new"),
      new_person_review_path(person_id: person.id),
    ) %>
  <% end %>

  <% if person.response_plans.drafts.none? &&
       person.response_plans.submitted.none? %>
    <%= link_to(
      t("people.show.draft.new"),
      drafts_path(person_id: person.id),
      method: :post,
      class: "button"
    ) %>
  <% end %>
</div>
