<div class="biometrics">
  <div class="stat">
    <span class="stat__label">Date of Birth</span>
    <span class="stat__data"><%= plan.dob %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Sex</span>
    <span class="stat__data"><%= plan.sex %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Race</span>
    <span class="stat__data"><%= plan.race %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Height</span>
    <span class="stat__data"><%= plan.height %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Weight</span>
    <span class="stat__data"><%= plan.weight %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Hair Color</span>
    <span class="stat__data"><%= plan.hair %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Eye Color</span>
    <span class="stat__data"><%= plan.eyes %></span>
  </div>
</div>
