<div class="biometrics">
  <div class="stat">
    <span class="stat__label">Date of Birth</span>
    <span class="stat__data"><%= @person.date_of_birth %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Sex</span>
    <span class="stat__data"><%= @person.sex %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Race</span>
    <span class="stat__data"><%= @person.race %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Height</span>
    <span class="stat__data"><%= @person.height_in_inches %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Weight</span>
    <span class="stat__data"><%= @person.weight_in_pounds %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Hair Color</span>
    <span class="stat__data"><%= @person.hair_color %></span>
  </div>
  <div class="stat">
    <span class="stat__label">Eye Color</span>
    <span class="stat__data"><%= @person.eye_color %></span>
  </div>
</div>
