<h2><%= title %></h2>
<div class="ct-chart <%= title.gsub(" ", "").underscore %>"></div>

<%
fields.reverse!
positive = ['x', 'yes']

series = fields.map do |field|
  count = @events.count { |e| positive.include?(e.send(field).downcase) }.to_f
  count / @events.count
end
%>

<script>
var data = {
  // A labels array that can contain any sort of values
  labels: <%= fields.inspect.html_safe %>,
    // Our series array that contains series objects or in this case series data arrays
    series: [
      <%= series.inspect.html_safe %>
    ]

};


// As options we currently only set a static size of 300x200 px. We can also omit this and use aspect ratio containers
// as you saw in the previous example
var options = {
  axisY: {
    offset: 200,
  },
  axisX: {
    offset: 10,
    scaleMinSpace: 100,
    position: 'start',
    labelInterpolationFnc: function(value, index, all) {
      return String(value * 100) + "%";
    },
  },
  height: <%= 40 + 20 * fields.count %>,
  width: 500,
  low: 0,
  high: 1,
  horizontalBars: true
};

// Create a new line chart object where as first parameter we pass in a selector
// that is resolving to our chart container element. The Second parameter
// is the actual data object. As a third parameter we pass in our custom options.
new Chartist.Bar('.ct-chart.<%=title.gsub(" ", "").underscore%>', data, options);
</script>
