<div class="charts">
  <h2>Behavior/Crisis History</h2>

  <h3>Crisis Nature</h3>
  <%= render "chart",
    title: "Crisis Nature",
    events: events,
    fields: [
      "chbk_biologically_induced",
      "chbk_medically_induced",
      "chbk_chemically_induced",
      "chbk_unknown_crisis_nature",
    ] %>

  <h3>Behavioral History</h3>
  <%= render "chart",
    title: "Behavioral History",
    events: events,
    fields: [
      "chbk_neglect_self_care",
      "chbk_disorganize_communication",
      "chbk_disoriented_confused",
      "chbk_disorderly_disruptive",
      "chbk_unusual_fright_scared",
      "chbk_belligerent_uncooperative",
      "chbk_hopeless_depressed",
      "chbk_bizarre_unusual_behavior",
      "chbk_suicide_threat_attempt",
      "chbk_mania",
      "chbk_out_of_touch_reality",
      "chbk_halluc_delusion",
      "chbk_excited_delirium",
    ] %>

  <h2>General Needs</h2>

  <% @plan.needs.each do |need| %>
    <div class="need"><%= need %></div>
  <% end %>

  <h2>Personal Information</h2>

  <section class="personal_info">
    <div class="address">
      <span class="label">Address</span>
      <span class="data">
        <%= @plan.street_address %><br/>
        <%= @plan.city_state_zip %>
      </span>
    </div>

    <div class="license">
      <span class="label">License</span>
      <span class="data">
        <%= @plan.license_state %> - <%= @plan.license_number %>
      </span>
    </div>
  </section>

  <h2>Previous Actions Taken</h2>
  <%= render "chart",
    title: "Previous Actions Taken",
    events: events,
    fields: [
      "chbk_verbalization",
      "chbk_dispo_chronic",
      "chbk_dispo_treatment_referral",
      "chbk_dispo_resource_declined",
      "chbk_dispo_mobile_crisis_team",
      "chbk_dispo_grat",
      "chbk_dispo_shelter",
      "chbk_dispo_no_action_poss_necc",
      "chbk_dispo_casemanager_notice",
      "chbk_dispo_dmhp_refer",
      "chbk_dispo_crisis_clinic",
      "chbk_dispo_emergent_ita",
      "chbk_dsipo_voluntary_commit",
      "chbk_dispo_arrested",
    ] %>
</div>
