<%= link_to link, class: "person-card" do %>
  <%= cache person do %>
    <%= image_tag person.profile_image_url %>

    <div class="person-card-labels">
      <%= render "identity", person: person %>
      <div class="description"><%= person.shorthand_description %></div>
      <div class="crisis-incident-count"><%= person.crisis_incidents.count %></div>
    </div>
  <% end %>
<% end %>
