<p id="notice"><%= notice %></p>

<form class="search">
  <label for="name">Search by Name</label>
  <input
    type="text"
    name="name"
    placeholder="Search"
    aria-label="Search"
  />
  <span class="search__hint">
    Press enter to search
  </span>
</form>

<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Events</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person, event_count| %>
      <tr>
        <td><%= person.first_name.humanize %></td>
        <td><%= person.last_name.humanize %></td>
        <td><%= event_count %></td>
        <td><%= link_to("Show data", "/people/#{person.name.downcase}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
