<%= content_for(:header) do %>
  <span class="header-name"><%= @person.name %></span>
  <span class="header-dob"><span class="header-label">DOB:</span> <%= @person.date_of_birth %></span>
<% end %>

<div class="main">
  <div class="left-column">
    <%= render "sections/images" %>
  </div>

  <div class="right-column">
    <%= render "sections/officer_safety" %>
    <%= render "sections/physical" %>
    <%= render "sections/response_plan" %>
    <%= render "sections/contacts" %>
    <%= render "sections/incident_history" %>
  </div>
</div>
