<%= content_for(:header) { @person.name } %>

<div class="main">
  <div class="left-column">
    <%= render "sections/images" %>
  </div>

  <div class="right-column">
    <%= render "sections/officer_safety" %>
    <%= render "sections/physical" %>
    <%= render "sections/response_plan" %>
    <%= render "sections/contacts" %>
    <%= render "sections/incident_history" %>
  </div>
</div>
