<%= content_for(:header) do %>
  <%= render "identity", person: @person %>
<% end %>

<div class="main">
  <% if @response_plan && !@response_plan.approved? %>
    <div class="needs-approval">
      <%= t("response_plans.approval.required") %>
      <%= link_to(
        t("response_plans.approval.action"),
        approve_response_plan_path(@response_plan),
        method: :patch,
      ) %>
    </div>
  <% end %>

  <div class="left-column">
    <% if @response_plan && current_officer.admin? %>
      <div class="needs-approval edit-response-plan">
        <%= link_to("Edit", edit_response_plan_path(@response_plan)) %>
      </div>
    <% end %>

    <%= render "sections/images" %>
    <%= render "sections/profile", person: @person %>
    <%= render "sections/location" %>

    <% if @response_plan %>
      <% @response_plan.contacts.each do |contact| %>
        <%= render "sections/contact", contact: contact %>
      <% end %>

      <%= render "sections/about" %>
    <% end %>
  </div>

  <div class="right-column">
    <% if @response_plan %>
      <%= render "sections/deescalation_techniques" %>
      <%= render "sections/triggers" %>
      <%= render "sections/response_strategies" %>
      <%= render "sections/background_info" %>
      <%= render "sections/about" %>
    <% end %>
  </div>
</div>
