<p id="notice"><%= notice %></p>

<h1><%= @person.name.titleize %></h1>

<%= render "chart", title: "Officer Safety", fields: [
  "weapon_yn_dk",
  "threaten_violence_yn_dk",
] %>
<%= render "chart", title: "Crisis Nature", fields: [
  "chbk_biologically_induced",
  "chbk_medically_induced",
  "chbk_chemically_induced",
  "chbk_unknown_crisis_nature",
] %>
<%= render "chart", title: "Behavioral History", fields: [
  "chbk_neglect_self_care",
  "chbk_disorganize_communication",
  "chbk_disoriented_confused",
  "chbk_disorderly_disruptive",
  "chbk_unusual_fright_scared",
  "chbk_belligerent_uncooperative",
  "chbk_hopeless_depressed",
  "chbk_bizarre_unusual_behavior",
  "chbk_suicide_threat_attempt",
  "chbk_mania",
  "chbk_out_of_touch_reality",
  "chbk_halluc_delusion",
  "chbk_excited_delirium",
] %>
<%= render "chart", title: "Previous Actions Taken", fields: [
  "chbk_verbalization",
  "chbk_dispo_chronic",
  "chbk_dispo_treatment_referral",
  "chbk_dispo_resource_declined",
  "chbk_dispo_mobile_crisis_team",
  "chbk_dispo_grat",
  "chbk_dispo_shelter",
  "chbk_dispo_no_action_poss_necc",
  "chbk_dispo_casemanager_notice",
  "chbk_dispo_dmhp_refer",
  "chbk_dispo_crisis_clinic",
  "chbk_dispo_emergent_ita",
  "chbk_dsipo_voluntary_commit",
  "chbk_dispo_arrested",
] %>

<%= link_to 'Back', people_path %>
