<section class="sign_in">
  <div class="section-header">
    <div class="section-header-text">
      <h2>Log in</h2>
    </div>
  </div>

  <div class="section-body">
    <%= simple_form_for(sign_in, url: authentication_path) do |f| %>
      <div class="form-inputs">
        <%= f.input :username, autofocus: true, hint: false do %>
          <%= f.hint :username %>
          <%= f.text_field :username %>
        <% end %>

        <%= f.input :password, autofocus: true, hint: false do %>
          <%= f.hint :password %>
          <%= f.text_field :password %>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("authentication.sign_in.link") %>
      </div>
    <% end %>
  </div>
</section>
