<% if plan %>
  <section class="profile-about <%= section_class %>">
    <div class="section-header section-header-muted">
      <div class="section-header-text">
        <span class="section-title">About the Plan</span>
      </div>
    </div>

    <div class="section-body">
      <% if plan.approver.present? %>
        <div class="about-label approver-label">Approved by</div>
        <div class="approver-name">
          <div><%= plan.approver.name %></div>
        </div>
      <% end %>

      <div class="about-label date-label">Created on</div>
      <div class="created-date"><%= l plan.updated_at.to_date %></div>

      <div class="about-label author-label">CRT Contact</div>
      <div class="author-name"><%= plan.author.name %></div>
      <div class="author-unit">Crisis Response Unit</div>
    </div>

    <%= render(
      "section_dialer",
      phone: ENV.fetch("ADMINISTRATOR_CONTACT_PHONE"),
    ) %>
  </section>
<% end %>
