<section class="
  profile-behaviors
  <%= (
    person.recent_incidents.frequent_behaviors.any? ||
    plan.try(:baseline).present? ||
    plan.try(:elevated).present?
  ) ? "" : "section-empty" %>
  ">
  <div class="section-header section-header-transparent">
    <div class="section-header-text">
      <span class="section-title">Behaviors</span>
    </div>
  </div>

  <div class="section-body">
    <% if person.recent_incidents.frequent_behaviors.any? %>
      <ul>
        <% person.
          recent_incidents.
          frequent_behaviors.
          first(4).
          each do |behavior, count| %>
          <li class="behavior">
            <span class="behavior-name">
              <%= t("incidents.behaviors.#{behavior}") %>
            </span>

            <span class="behavior-count">
              <%= count %>

              <span class="behavior-frequency">
                (<%= 100 * count / person.recent_incidents.count %>%)
              </span>
            </span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="section-body-empty">
        <span>No known behaviors.</span>
      </div>
    <% end %>
  </div>

  <% if plan.try(:baseline).present? || plan.try(:elevated).present? %>
    <div class="section-body">
      <h3>Possible Demeanors</h3>

      <% if plan.baseline.present? %>
        <div class="demeanor">
          <span class="demeanor-title">Baseline</span>

          <span class="demeanor-description">
            <%= plan.baseline %>
          </span>
        </div>
      <% end %>

      <% if plan.elevated.present? %>
        <div class="demeanor">
          <span class="demeanor-title">Elevated</span>

          <span class="demeanor-description">
            <%= plan.elevated %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
