<section class="contacts">
  <div class="section-header">
    <%= image_tag("section-icons/contacts.svg", class: "section-icon") %>
    <div class="section-header-text">
      <h2 class="section-title">Contacts</h2>
    </div>
  </div>

  <div class="section-body">
    <% @response_plan.contacts.each do |contact| %>
      <div class="contact">
        <div class="contact-name"><%= contact.name %></div>
        <div class="contact-relationship">Relationship: <%= contact.relationship %></div>
        <div class="contact-cell">Cell: <%= tel_to contact.cell %></div>

        <div class="contact-notes">
          <div class="contact-notes-label">Notes</div>
          <%= contact.notes %>
        </div>
      </div>
    <% end %>
  </div>
</section>
