<section class="
         profile-deescalation
         <%= (
           person.veteran? ||
           plan && plan.deescalation_techniques.any? ||
           general_techniques_for(person).any?
         ) ? "" : "section-empty" %>
         ">
  <div class="section-header">
    <%= inline_svg "section-icons/deescalation_techniques.svg", class: "section-icon" %>
    <div class="section-header-text">
      <span class="section-title">De-escalation Techniques</span>
    </div>
  </div>

  <div class="section-body deescalation-specific">
    <h3>Specific Techniques</h3>

    <% if person.veteran? %>
      <div class="deescalation-veteran">
        <%= inline_svg "veteran.svg", class: "deescalation-veteran-icon" %>
        Veteran
      </div>
    <% end %>

    <% if plan && plan.deescalation_techniques.any? %>
      <ul>
        <% plan.deescalation_techniques.each do |technique| %>
          <li><%= technique.description %></li>
        <% end %>
      </ul>
    <% else %>
      <div class="section-body-empty">
        <span><%= t("profile.deescalation_techniques.none") %></span>
      </div>
    <% end %>

    <div class="section-body-empty">
      <%= link_to new_suggestion_path(person_id: person.id), target: "blank" do %>
        <%= inline_svg "edit.svg" %>
        <%= t("profile.deescalation_techniques.new") %>
      <% end %>
    </div>
  </div>

  <div class="section-body deescalation-general">
    <h3>General Best Practices</h3>

    <% if general_techniques_for(person).any? %>
      <ul>
        <% general_techniques_for(person).first(4).each do |technique| %>
          <li><%= technique %></li>
        <% end %>
      </ul>
    <% else %>
      <div class="section-body-empty">
        <span><%= t("profile.general_techniques.none") %></span>
      </div>
    <% end %>
  </div>
</section>
