<section class="images">
  <%= image_tag @response_plan.profile_image_url, class: "focused-image" %>

  <% if @response_plan.images.many? %>
    <div class="section-body">
      <div class="image-scroller">
        <%= image_tag(
          "arrow_left-#{theme}.svg",
          class: "image-scroll-arrow",
            data: { direction: "prev" },
        ) %>

      <span class="image-text">
        <span class="focused-image-index">1</span>
        of <%= @response_plan.images.count %> photos
      </span>

      <%= image_tag(
        "arrow_right-#{theme}.svg",
        class: "image-scroll-arrow",
          data: { direction: "next" },
      ) %>
    </div>

    <div class="image-thumbnails">
      <% @response_plan.images.each.with_index do |image, index| %>
        <%= image_tag image.source_url, class: "image-thumbnail #{'image-thumbnail-focused' if index == 0}" %>
      <% end %>
    </div>
    </div>
  <% end %>
</section>
