<section class="images">
  <%= image_tag @response_plan.person.profile_image_url, class: "focused-image" %>

  <div class="section-body">
    <div class="image-scroller">
      <span class="image-text">
        <span class="focused-image-index">1</span>
        of <%= pluralize(@response_plan.person.images.count, "photo") %>
      </span>

      <% if @response_plan.person.images.many? %>
        <%= image_tag(
          "arrow_left-#{theme}.svg",
          class: "image-scroll-arrow",
          data: { direction: "prev" },
          role: "link",
        ) %>

        <%= image_tag(
          "arrow_right-#{theme}.svg",
          class: "image-scroll-arrow",
          data: { direction: "next" },
          role: "link",
        ) %>
      <% end %>
    </div>

    <% if @response_plan.person.images.many? %>
      <div class="image-thumbnails">
        <% @response_plan.person.images.each.with_index do |image, index| %>
          <%= image_tag(
            image.source_url,
            class: "image-thumbnail #{'image-thumbnail-focused' if index == 0}",
            role: "link",
          ) %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
