<section class="physical">
  <div class="section-header">
    <%= image_tag("section-icons/response-plan.svg", class: "section-icon") %>
    <div class="section-header-text">
      <h2 class="section-title">Physical</h2>
    </div>
  </div>

  <div class="section-body">
    <span class="shorthand-description">
      <%= @person.shorthand_description %>
    </span>

    <span class="hair-color">
      <%= image_tag("physical/hair.svg") %>
      <%= @person.hair_color.to_s.humanize %>
    </span>

    <span class="eye-color">
      <%= image_tag("physical/eye.svg") %>
      <%= @person.eye_color.to_s.humanize %>
    </span>

    <span class="scars-marks">
      <%= @person.scars_and_marks.to_s.humanize %>
    </span>
  </div>
</section>
