<section class="profile">
  <div class="section-body">
    <%= render "identity", person: person %>

    <hr/>

    <% if person.aliases.any? %>
      <div class="aliases">
        <h3>AKA</h3>

        <ul>
          <% person.aliases.each do |aka| %>
            <li><%= aka.name %></li>
          <% end %>
        </ul>
      </div>

      <hr/>
    <% end %>

    <div class="physical">
      <span class="shorthand-description">
        <%= person.shorthand_description %>
      </span>

      <span class="hair-color">
        <%= inline_svg "physical/hair.svg", class: "hair-color-icon" %>
        <%= person.hair_color.to_s.humanize %>
      </span>

      <span class="eye-color">
        <%= inline_svg "physical/eye.svg", class: "eye-color-icon" %>
        <%= person.eye_color.to_s.humanize %>
      </span>

      <% if person.scars_and_marks.present? %>
        <span class="scars-marks">
          <span class="scars-marks-label">SMT</span>
          <%= person.scars_and_marks.to_s.humanize %>
        </span>
      <% end %>
    </div>
  </div>
</section>
