<section class="
         profile-safety-concerns
         collapsed
         <%= (
         plan && plan.safety_concerns.any? ||
         plan && plan.triggers.any?
         ) ? "" : "section-empty" %>
         ">
  <div class="section-header
    <%= plan && plan.safety_concerns.any? ? "section-header-yellow" : "section-header-grey"  %>
    ">
    <%= inline_svg("section-icons/safety_concerns.svg", class: "section-icon") %>
    <div class="section-header-text">
      <span class="section-title">Officer Safety</span>
    </div>
  </div>

  <% if plan && plan.safety_concerns.any? %>
    <div class="section-body safety-concern-history">
      <% plan.safety_concerns_by_category.each do |category, concerns| %>
        <div class="concern-category">
          <span class="concern-category-header">
            <%= t("safety_concerns.categories.#{category}") %>
          </span>

          <%= render concerns %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="section-body safety-concern-history section-body-empty">
      <h3>History</h3>

      <span><%= t("safety_concerns.none") %></span>
    </div>
  <% end %>

  <% if plan && plan.triggers.any? %>
    <div class="section-body triggers">
      <h3>Triggers</h3>

      <% plan.triggers.each do |trigger| %>
        <%= render trigger %>
      <% end %>
    </div>
  <% else %>
    <div class="section-body triggers section-body-empty">
      <h3>Triggers</h3>

      <span><%= t("profile.triggers.none") %></span>

      <%= link_to new_suggestion_path(person_id: person.id) do %>
        <%= inline_svg "edit.svg" %>
        <%= t("profile.triggers.new") %>
      <% end %>
    </div>
  <% end %>

  <div class="safety-concerns-expand">
    <a
       href=""
       class="toggle button"
       data-toggle-target=".profile-safety-concerns"
       data-toggle-text="Hide Details"
       >
       See Details
    </a>
  </div>
</section>
