<section class="profile-safety-concerns">
  <div class="section-header
    <%= plan && plan.safety_concerns.any? ? "section-header-yellow" : "section-header-grey"  %>
    ">
    <%= inline_svg("section-icons/safety_concerns.svg", class: "section-icon") %>
    <div class="section-header-text">
      <span class="section-title">Officer Safety</span>
    </div>
  </div>

  <div class="section-body safety-concern-history">
    <% if plan && plan.safety_concerns.any? %>
      <% plan && plan.safety_concerns_by_category.each do |category, concerns| %>
        <div class="concern-category">
          <span class="concern-category-header">
            <%= category %>
          </span>

          <% concerns.each do |concern| %>
            <span class="concern-description">
              <%= concern.description %>
            </span>

            <% if false #concern.occurred_at %>
              <span class="concern-date">
                <%= l(concern.occurred_at.to_date) %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p><%= t("safety_concerns.none") %></p>
    <% end %>
  </div>
</section>
