<%# TODO
  refactor this into a `Profile` model
  that knows how to display a person,
  whether they have a response plan or not.
%>

<% if response_plan %>

  <% if response_plan.submitted? %>
    <%# The response plan has been submitted for approval but not yet approved %>

    <section class="page-title section-notice">
      <h1 class="section-title">
        <%= t("response_plans.submission.title") %>
      </h1>

      <div class="description">
        <%= t("response_plans.submission.description") %>
      </div>

      <div class="page-title-actions">
        <%= link_to(
          t("response_plans.submission.approve"),
          approve_submission_path(@response_plan),
          method: :patch,
        ) %>
      </div>
    </section>

  <% elsif response_plan.draft? %>
    <%# The response plan is a draft that the current officer is preparing %>

    <section class="page-title section-notice">
      <h1 class="section-title">
        <%= t("response_plans.draft.title") %>
      </h1>

      <div class="description">
        <%= t("response_plans.draft.description") %>
      </div>

      <div class="page-title-actions">
        <%= link_to t("response_plans.draft.edit"), edit_response_plan_path(response_plan) %>
        or
        <strong>
          <%= link_to(
            t("response_plans.draft.submit"),
            submissions_path(response_plan_id: response_plan),
            method: :post,
          ) %>
        </strong>
      </div>
    </section>

  <% else %>
    <%# The response plan is approved and visible to all officers %>

    <section class="page-title">
      <h1 class="section-title">Response Plan</h1>

      <span class="page-title-action">
        <%= link_to(
          t("response_plans.draft.new"),
          response_plans_path(person_id: person.id),
          method: :post,
        ) %>
      </span>
    </section>
  <% end %>

<% else %>
  <%# No response plan, just a core profile %>

  <section class="page-title">
    <h1 class="section-title">Basic Profile</h1>

    <span class="page-title-action">
      <%= link_to(
        t("response_plans.new.action"),
        response_plans_path(person_id: person.id),
        method: :post,
      ) %>
    </span>
  </section>
<% end %>
