<tr class="event">
  <td><%= event.go_id %></td>
  <td><%= event.reported_on_date %></td>
  <td><%= event.reported_on_time %></td>
  <td><%= event.report_year %></td>
  <td><%= event.report_number %></td>
  <td><%= event.chbk_biologically_induced %></td>
  <td><%= event.chbk_medically_induced %></td>
  <td><%= event.chbk_chemically_induced %></td>
  <td><%= event.chbk_unknown_crisis_nature %></td>
  <td><%= event.chbk_neglect_self_care %></td>
  <td><%= event.chbk_disorganize_communication %></td>
  <td><%= event.chbk_disoriented_confused %></td>
  <td><%= event.chbk_disorderly_disruptive %></td>
  <td><%= event.chbk_unusual_fright_scared %></td>
  <td><%= event.chbk_belligerent_uncooperative %></td>
  <td><%= event.chbk_hopeless_depressed %></td>
  <td><%= event.chbk_bizarre_unusual_behavior %></td>
  <td><%= event.chbk_suicide_threat_attempt %></td>
  <td><%= event.chbk_mania %></td>
  <td><%= event.chbk_out_of_touch_reality %></td>
  <td><%= event.chbk_halluc_delusion %></td>
  <td><%= event.chbk_wpn_knife %></td>
  <td><%= event.chbk_wpn_gun %></td>
  <td><%= event.chbk_wpn_oth %></td>
  <td><%= event.chbk_verbalization %></td>
  <td><%= event.chbk_dispo_chronic %></td>
  <td><%= event.chbk_dispo_treatment_referral %></td>
  <td><%= event.chbk_dispo_resource_declined %></td>
  <td><%= event.chbk_dispo_mobile_crisis_team %></td>
  <td><%= event.chbk_dispo_grat %></td>
  <td><%= event.chbk_dispo_shelter %></td>
  <td><%= event.chbk_dispo_no_action_poss_necc %></td>
  <td><%= event.chbk_dispo_casemanager_notice %></td>
  <td><%= event.chbk_dispo_dmhp_refer %></td>
  <td><%= event.chbk_dispo_crisis_clinic %></td>
  <td><%= event.chbk_dispo_emergent_ita %></td>
  <td><%= event.chbk_dsipo_voluntary_commit %></td>
  <td><%= event.chbk_dispo_arrested %></td>
  <td><%= event.crisis_contacted_vet_yn_unk %></td>
  <td><%= event.weapon_yn_dk %></td>
  <td><%= event.threaten_violence_yn_dk %></td>
  <td><%= event.chbk_excited_delirium %></td>
</tr>
