<%= simple_form_for(@response_plan) do |f| %>
  <div class="response_plan_form">
    <%= f.fields_for :person do |person| %>
      <%= person.input :first_name %>
      <%= person.input :last_name %>
      <%= person.input :date_of_birth, label: "DOB", as: :string %>
    <% end %>

    <%= render "nested_form", f: f, relationship: :aliases, html_classes: [] %>

    <%= f.fields_for :person do |person| %>
      <%= person.input :race, collection: Person::RACE_CODES.keys %>
      <%= person.input :sex, collection: Person::SEX_CODES.keys %>
      <%= person.input :weight_in_pounds, label: "Weight" %>
      <%= person.input :height_in_inches, label: "Height" %>
      <%= person.input :eye_color %>
      <%= person.input :hair_color %>
      <%= person.input :scars_and_marks %>
    <% end %>

    <%= f.input :background_info %>

    <%= f.fields_for :person do |person| %>
      <%= person.input :location_name %>
      <%= person.input :location_address %>
    <% end %>

    <%= render "nested_form", f: f, relationship: :safety_concerns, html_classes: ["multi-field"] %>
    <%= render "nested_form", f: f, relationship: :contacts, html_classes: ["multi-field"] %>
    <%= render "nested_form", f: f, relationship: :images, html_classes: [] %>
    <%= render "nested_form", f: f, relationship: :response_strategies, html_classes: ["multi-field"] %>

    <%= f.input :private_notes %>

    <%= f.button :submit %>
  </div>
<% end %>
