<%= content_for(:header) do %>
  <%= render "identity", response_plan: @response_plan %>
<% end %>

<div class="main">
  <div class="left-column">
    <%= render "sections/images" %>
    <%= render "sections/profile" %>
    <%= render "sections/location" %>

    <% @response_plan.contacts.each do |contact| %>
      <%= render "sections/contact", contact: contact %>
    <% end %>

    <%= render "sections/about" %>
  </div>

  <div class="right-column">
    <%= render "sections/safety_warnings" %>
    <%= render "sections/response_plan" %>
    <%= render "sections/background_info" %>
    <%= render "sections/about" %>
  </div>
</div>
