<%= content_for(:header) do %>
  <%= render "identity", response_plan: @response_plan %>
<% end %>

<div class="main">

  <% unless @response_plan.approved? %>
    <div class="needs-approval">
      <%= t("response_plans.approval.required") %>
      <%= link_to(
        t("response_plans.approval.action"),
        approve_response_plan_path(@response_plan),
        method: :patch
      ) %>
    </div>
  <% end %>

  <div class="left-column">
    <%= render "sections/images" %>
    <%= render "sections/profile" %>
    <%= render "sections/location" %>

    <% @response_plan.contacts.each do |contact| %>
      <%= render "sections/contact", contact: contact %>
    <% end %>

    <%= render "sections/about" %>
  </div>

  <div class="right-column">
    <%= render "sections/safety_warnings" %>
    <%= render "sections/response_strategies" %>
    <%= render "sections/background_info" %>
    <%= render "sections/about" %>
  </div>
</div>
