<section class="form">
  <div class="section-header section-header-blue">
    Identification
  </div>

  <div class="section-body">
    <%= form.input :first_name %>
    <%= form.input :middle_initial %>
    <%= form.input :last_name %>

    <%= form.input(
      :date_of_birth,
      as: :string,
      label: "DOB",
      placeholder: "mm-dd-yyyy",
      input_html: {
        value: (
          l(form.object.date_of_birth) rescue
          params[:response_plan][:person_attributes][:date_of_birth] rescue
          nil
        )
      }
    ) %>
  </div>
</section>

<%= render "forms/nested_form", f: form, relationship: :aliases %>

<section class="form">
  <div class="section-header section-header-blue">
    Physical Characteristics
  </div>

  <div class="section-body">
    <%= form.input(
      :race,
      collection: PersonValidations::RACE_CODES.keys,
      label_method: lambda { |race| race.titlecase.gsub("/", " / ") },
      required: true,
    ) %>
    <%= form.input(
      :sex,
      collection: PersonValidations::SEX_CODES.keys,
      label_method: lambda { |sex| sex.titlecase },
      required: true
    ) %>

    <%= form.input :weight_in_pounds, as: :integer, label: "Weight" %>
    <%= render "application/height_fields", form: form %>

    <%= form.input(
      :eye_color,
      collection: PersonValidations::EYE_COLOR_CODES.values,
      label_method: lambda(&:titlecase),
    ) %>
    <%= form.input(
      :hair_color,
      collection: PersonValidations::HAIR_COLOR_CODES.values,
      label_method: lambda(&:titlecase),
    ) %>

    <%= form.input :scars_and_marks %>
  </div>
</section>

<section class="form">
  <div class="section-header section-header-blue">
    Location
  </div>

  <div class="section-body">
    <%= form.input :location_name %>
    <%= form.input :location_address %>
    <%= form.input :location_supportive_housing %>
  </div>
</section>

<%= render "forms/nested_form", f: form, relationship: :images do %>
  <div class="section-body">
    <span class="hint">
      The first image you upload will be the primary image.
    </span>
  </div>
<% end %>
