<div class="nested-fields section-body">
  <%= f.input(
    :category,
    collection: SafetyConcern::CATEGORIES,
    label_method: lambda { |cat| t("safety_concerns.categories.#{cat}") },
  ) %>

  <%= f.input :title %>
  <%= f.input(
    :occurred_on,
    as: :string,
    placeholder: "mm-dd-yyyy",
    input_html: { value: (l(f.object.occurred_on) rescue nil) },
  ) %>

  <%= f.input :description %>
  <%= f.input :go_number %>

  <%= link_to_remove_association "Remove safety concern", f %>
</div>
