<div class="nested-fields">

  <div class="collection_input_set response_plan_safety_concerns_category">
    <label>Safety Type</label>

    <% SafetyConcern::CATEGORIES.each.with_index do |category, priority| %>
      <span class="radio">
        <%= f.radio_button :category, category %>
        <%= f.label(:category, class: "category-label") do %>
          <span class="category-title">
            <%= t("safety_concerns.categories.#{category}.title") %>
          </span>

          <span class="category-subtitle">
            <%= t("safety_concerns.categories.#{category}.subtitle") %>

            <span class="category-example">
              <%= t("safety_concerns.categories.#{category}.example") %>
            </span>
          </span>
        <% end %>
      </span>
    <% end %>
  </div>

  <%= f.input :description %>
  <%= f.input(
    :occurred_on,
    as: :string,
    placeholder: "mm-dd-yyyy",
    input_html: { value: (l(f.object.occurred_on) rescue nil) },
  ) %>

  <%= link_to_remove_association "remove safety concern", f %>
</div>
