<div class="header">
  <div class="header-content">
    <div class="header-title">
      <%= content_for(:header) %>
    </div>

    <div class="header-actions">
      <div class="menu-collapsible menu-collapsed">
        <%= link_to(
          "About",
          page_path("about"),
        ) %>

        <%= link_to(
          "Change Log",
          page_path("changelog"),
        ) %>

        <%= link_to(
          "Light/Dark",
          preferences_path(theme: :toggle),
          method: :post,
          class: "change-theme",
        ) %>

        <% if officer_signed_in? %>
          <%= link_to(
            t("authentication.sign_out.link"),
            authentication_path,
            method: :delete,
          ) %>
        <% end %>
      </div>

      <%= link_to response_plans_path, class: "button" do %>
        <%= image_tag "search.svg", class: "search-icon" %>
      <% end %>

      <%= link_to "#" do %>
        <%= image_tag "menu.svg", class: "menu-icon", id: "js-toggle-menu" %>
      <% end %>
    </div>
  </div>
</div>
