<div class="header">
  <div class="header-content">
    <div class="header-title">
      <%= content_for(:header) %>
    </div>

    <div class="header-actions">
      <%= link_to("Sign Out", destroy_officer_session_path, method: :delete) %>

      <%= link_to(
        "Night/Day",
        preferences_path(theme: :toggle),
        method: :post,
        class: "change-theme",
      ) %>

      <%= link_to response_plans_path, class: "button" do %>
        <%= image_tag "search.svg", class: "header-icon" %>
      <% end %>
    </div>
  </div>
</div>
