<div class="header-spacing"></div>
<div class="header">
  <div class="header-content">
    <div class="header-title">
      <%= content_for(:header) %>
    </div>

    <div class="header-actions">
      <%= link_to response_plans_path do %>
        <%= image_tag "home.svg", class: "home-icon" %>
      <% end %>

      <%= link_to "#" do %>
        <%= image_tag "menu.svg", class: "menu-icon", id: "js-toggle-menu" %>
      <% end %>
    </div>
  </div>
</div>
