<div class="input">
  <%= form.label "Height" %>
  <div class="height-field">
    <%= form.input_field :height_feet, as: :integer, label: false %>
    <%= form.label :height_feet, label: "'" %>
    <%= form.input_field :height_inches, as: :integer, label: false %>
    <%= form.label :height_inches, label: '"' %>
    <span class="hint"><%= t("search.hints.height") %></span>
  </div>
</div>
