<div class="menu">
  <div class="menu-toggle">
    <%= link_to preferences_path, method: :post, class: "change-theme" do %>
      <div class="change-theme-toggle">
        <span class="theme day-theme <%= "selected" if theme == "day" %>">Light</span>
        <span class="theme night-theme <%= "selected" if theme == "night" %>">Dark</span>
      </div>
    <% end %>
  </div>

  <%= link_to t("menu.edit_account"), edit_account_path %>

  <% if current_officer.try(:admin?) %>
    <%= link_to t("drafts.index.link"), drafts_path %>
    <%= link_to t("submissions.index.link"), submissions_path %>
    <%= link_to t("menu.new_person"), new_person_path %>
  <% end %>

  <% if current_officer.try(:owner?) %>
    <%= link_to t("menu.officers"), officers_path %>
    <%= link_to t("menu.profiles"), profiles_path %>
  <% end %>

  <% if officer_signed_in? %>
    <%= link_to(
      t("authentication.sign_out.link"),
      authentication_path,
      method: :delete,
    ) %>
  <% end %>
</div>
