<div class="menu">
  <a class="change-theme" role="link">
    <div class="change-theme-toggle">
      <span class="theme day-theme <%= "selected" if theme == "day" %>">Light</span>
      <span class="theme night-theme <%= "selected" if theme == "night" %>">Dark</span>
    </div>
  </a>

  <%= link_to("About", page_path("about")) %>
  <%= link_to("App Updates", page_path("changelog")) %>

  <% if officer_signed_in? %>
    <%= link_to(
      t("authentication.sign_out.link"),
      authentication_path,
      method: :delete,
    ) %>
  <% end %>
</div>
