<div class="menu">
  <%= link_to preferences_path, method: :post, class: "change-theme" do %>
    <div class="change-theme-toggle">
      <span class="theme day-theme <%= "selected" if theme == "day" %>">Light</span>
      <span class="theme night-theme <%= "selected" if theme == "night" %>">Dark</span>
    </div>
  <% end %>

  <%= link_to t("menu.edit_account"), edit_account_path %>

  <% if current_officer.try(:admin?) %>
    <%= link_to t("drafts.index.link"), drafts_path %>
    <%= link_to t("submissions.index.link"), submissions_path %>
    <%= link_to t("menu.new_person"), new_person_path %>
    <%= link_to t("menu.officers"), officers_path %>
  <% end %>

  <%= link_to("About", page_path("about")) %>
  <%= link_to("App Updates", page_path("changelog")) %>

  <% if officer_signed_in? %>
    <%= link_to(
      t("authentication.sign_out.link"),
      authentication_path,
      method: :delete,
    ) %>
  <% end %>
</div>
