<%#
Required variables:
* person: an instance of `Person`

Optional variables:
* plan: an instance of `ResponsePlan`
%>

<% plan ||= nil %>

<div class="main">
  <div class="left-column">
    <%= render "sections/images", person: person %>
    <%= render "sections/physicals", person: person %>
    <%= render "sections/location", person: person %>

    <%= render "sections/suggestion", person: person %>
    <%= render "sections/about", plan: person.response_plans.first, section_class: "printonly" %>
    <%= render "sections/print_about", person: person %>
  </div>

  <div class="right-column">
    <% if current_officer.admin? %>
      <%= render "title", person: person, plan: plan %>
    <% end %>

    <%= render "recent_incident_count", person: person %>
    <%= render "urgent_incident_count", person: person %>

    <%= render "sections/behaviors", person: person, plan: plan %>
    <%= render "sections/safety_concerns", person: person, plan: plan %>
    <%= render "sections/deescalation_techniques", person: person, plan: plan %>

    <% if plan %>
      <%= render "sections/response_strategies", plan: plan %>
    <% end %>

    <% if plan.nil? %>
      <%= render "sections/incidents", person: person %>
    <% end %>
  </div>

  <% if plan %>
    <div class="full-column">
      <% plan.contacts.each do |contact| %>
        <%= render "sections/contact", contact: contact %>
      <% end %>
    </div>

    <%= render "sections/background_info", plan: plan %>
    <%= render "sections/incidents", person: person %>
    <%= render "sections/about", plan: person.response_plans.first, section_class: "noprint" %>
  <% end %>
</div>
