<%#
Required variables:
* person: an instance of `Person`

Optional variables:
* plan: an instance of `ResponsePlan`
%>

<% plan ||= nil %>

<div class="main">
  <div class="left-column">
    <%= render "sections/images", person: person %>
    <%= render "sections/profile", person: person %>
    <%= render "sections/location", person: person %>

    <% if plan %>
      <% plan.contacts.each do |contact| %>
        <%= render "sections/contact", contact: contact %>
      <% end %>

      <%= render "sections/about", person: person %>
    <% end %>
  </div>

  <div class="right-column">
    <%= render "title", person: person, plan: plan %>

    <% if plan %>
      <%= render "sections/deescalation_techniques", plan: plan %>
      <%= render "sections/triggers", plan: plan %>
      <%= render "sections/response_strategies", plan: plan %>
      <%= render "sections/background_info", plan: plan %>
      <%= render "sections/about", person: person %>
    <% end %>
  </div>
</div>
