<section class="suggestion solo-page">
  <div class="section-body">
    <%= simple_form_for(@suggestion) do |form| %>
      <%= form.input :person_id, as: :hidden %>
      <%= form.input :person_name, disabled: true %>
      <%= form.input :body %>
      <%= form.input :urgent %>
      <%= form.button :submit %>
    <% end %>
  </div>

  <a class="section-body close-page" onclick="window.close()">Close</a>
</section>
