<div class="nested-fields">
  <%= f.input :name %>
  <%= f.input :relationship %>
  <%= f.input :organization %>
  <%= f.input :cell %>
  <%= f.input :notes %>
  <%= link_to_remove_association "remove contact", f %>
</div>
