<%= content_for(:header) do %>
  Edit Response Plan
<% end %>

<%= simple_form_for(@response_plan, url: draft_path(@response_plan)) do |f| %>
  <%= f.fields_for :person do |person_form| %>
    <%= render "forms/person_fields", form: person_form %>
  <% end %>

  <section class="form">
    <div class="section-body">
      <%= f.input :background_info %>
    </div>
  </section>

  <%= render "forms/nested_form", f: f, relationship: :safety_concerns %>
  <%= render "forms/nested_form", f: f, relationship: :deescalation_techniques %>

  <%= render(
    "forms/nested_form",
    f: f,
    relationship: :triggers,
  ) %>

  <%= render "forms/nested_form", f: f, relationship: :contacts %>

  <%= render(
    "forms/nested_form",
    f: f,
    relationship: :response_strategies,
    label: "Response Plan",
  ) %>

  <section class="form">
    <div class="section-body">
      <%= f.input :private_notes %>

      <%= f.button :submit %>
    </div>
  </section>
<% end %>
