<%= content_for(:header) do %>
  Edit Response Plan
<% end %>

<%= simple_form_for(@response_plan, url: draft_path(@response_plan)) do |f| %>
  <div class="response_plan_form">
    <%= f.fields_for :person do |person| %>
      <%= person.input :first_name %>
      <%= person.input :middle_initial %>
      <%= person.input :last_name %>

      <%= person.input(
        :date_of_birth,
        as: :string,
        label: "DOB",
        placeholder: "mm-dd-yyyy",
        input_html: {
          value: (
            l(@response_plan.person.date_of_birth) rescue
            params[:response_plan][:person_attributes][:date_of_birth] rescue
            nil
          )
        }
      ) %>

      <%= render "nested_form", f: person, relationship: :aliases %>

      <%= person.input(
        :race,
        collection: RMS::RACE_CODES.keys,
        label_method: lambda { |race| race.titlecase.gsub("/", " / ") },
        required: true,
      ) %>
      <%= person.input(
        :sex,
        collection: RMS::SEX_CODES.keys,
        label_method: lambda { |sex| sex.titlecase },
        required: true
      ) %>

      <%= person.input :weight_in_pounds, as: :integer, label: "Weight" %>
      <%= render "application/height_fields", form: person %>

      <%= person.input(
        :eye_color,
        collection: RMS::EYE_COLOR_CODES.values,
        label_method: lambda(&:titlecase),
      ) %>
      <%= person.input(
        :hair_color,
        collection: RMS::HAIR_COLOR_CODES.values,
        label_method: lambda(&:titlecase),
      ) %>

      <%= person.input :scars_and_marks %>
    <% end %>

    <%= f.input :background_info %>

    <%= f.fields_for :person do |person| %>
      <%= person.input :location_name %>
      <%= person.input :location_address %>
      <%= render "nested_form", f: person, relationship: :images %>
    <% end %>

    <%= render(
      "nested_form",
      f: f,
      relationship: :safety_concerns,
      html_classes: ["multi-field"],
    ) %>

    <%= render "nested_form", f: f, relationship: :deescalation_techniques %>

    <%= render(
      "nested_form",
      f: f,
      relationship: :triggers,
      html_classes: ["multi-field"],
    ) %>

    <%= render(
      "nested_form",
      f: f,
      relationship: :contacts,
      html_classes: ["multi-field"],
    ) %>

    <%= render(
      "nested_form",
      f: f,
      relationship: :response_strategies,
      label: "Response Plan",
      html_classes: ["multi-field"],
    ) %>

    <%= f.input :private_notes %>

    <%= f.button :submit %>
  </div>
<% end %>
