<%= content_for(:header) do %>
  Edit Response Plan
<% end %>

<%= simple_form_for(@response_plan, url: draft_path(@response_plan)) do |f| %>
  <%= f.fields_for :person do |person_form| %>
    <%= render "forms/person_fields", form: person_form %>
  <% end %>

  <section class="form">
    <div class="section-header section-header-blue">
      History
    </div>

    <div class="section-body">
      <%= f.input :background_info %>

      <div class="form-subheading">
        Possible Demeanors
      </div>

      <%= f.input :baseline %>
      <%= f.input :elevated %>
    </div>
  </section>

  <%= render "forms/nested_form", f: f, relationship: :safety_concerns %>
  <%= render "forms/nested_form", f: f, relationship: :deescalation_techniques %>
  <%= render "forms/nested_form", f: f, relationship: :triggers %>
  <%= render "forms/nested_form", f: f, relationship: :contacts %>

  <%= render(
    "forms/nested_form",
    f: f,
    relationship: :response_strategies,
    label: "Response Plan",
  ) %>

  <section class="form">
    <div class="section-header section-header-blue">About the Plan</div>
    <div class="section-body">
      <%= f.input(
        :assignee_id,
        as: :radio_buttons,
        collection: Officer.where(role: [Officer::ADMIN, Officer::OWNER]),
        hint: "If your information is out-of-date on the plan, you can update it from #{link_to('your profile page', edit_account_path, target: "blank")}.".html_safe,
        selected: f.object.assignee_id || current_officer,
        value_method: :id,
      ) %>
    </div>
  </section>

  <section class="form">
    <div class="section-header section-header-blue">Save</div>

    <div class="section-body">
      <%= f.input :private_notes %>

      <%= f.button :submit %>
    </div>
  </section>
<% end %>
