<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />

  <title><%= title %></title>

  <%= stylesheet_link_tag(
    theme,
    media: "all",
    class: "theme-stylesheet",
    data: { alternate: stylesheet_path(inactive_theme) }
  ) %>
  <link rel="stylesheet" href="/assets/print.css" media="print" />
  <%= csrf_meta_tags %>
  <%= render "javascript" %>
</head>
<body class="<%= body_class %>">
  <div class="main-content">
    <%= render "header" %>
    <%= render "flashes" -%>
    <div class="content">
      <%= yield %>
    </div>
    <%= render "footer" %>
  </div>
  <%= render "menu" %>
</body>
</html>
